<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css">
  <title><%= title %></title>
</head>
<body>
  <h3 class="stock-entrance-title">...*** <%= title %> ***...</h3>
  <hr>
  <hr>
  <p>
      Documents:
      <ul> 
          <li><a href="/api/v1/documents/swagger">SWAGGER</a></li>
          <li><a href="/api/v1/documents/redoc">REDOC</a></li>
          <li><a href="/api/v1/documents/json">JSON</a></li>
      </ul>
  </p>
</body>
</html>
